<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Minesweeper</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="minesweeper.css">
  </head>
  <body>
    <main>
      <h1>Minesweeper</h1>
      <br>
      <div id="status">Make a Move!</div>
      <div id ="info"></div>
      <div id ="time">Time Passed: 0 seconds.</div>
      <br>
      <style>
        #board {
          border: 5px solid black;
        }
      </style>
      <canvas id="board" width="600" height="600"> Something Something </canvas>
      <button id="restart">RESTART</button>
    </main> 
   <script src="../static/js/boom.js"></script>
  </body>
</html>