<!-- Taken partialy from team Canadian Owls: Karl Hernandez, Dragos Lup, Arib C -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Snake</title>
  </head>
  <body>
    <style>
      #board {
        border: 5px solid black;
      }
    </style>
    <canvas id="board" width="600" height="600"> Something Something </canvas>
    <p id="status">Press W, A, S, or D to start!</p>
    <p id="score">0</p>
  </body>
  <script src="../static/js/snake.js"></script>
</html>